.month-selector-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    background-color: #f3f4f6;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.month-selector {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #d1d5db;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: border-color 0.2s;
    margin-left: 10px;
}

.month-selector:hover,
.month-selector:focus {
    border-color: #1d4ed8;
    outline: none;
}

.month-selector-label {
    font-weight: bold;
    margin-right: 10px;
    color: #1d4ed8;
}
