.piechart-container {
  width: 90%;
  max-width: 400px;
  height: auto;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  text-align: center;
}

.piechart-heading {
  font-weight: bold;
  color: #1d4ed8;
  margin-bottom: 1rem;
}

.piechart {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}


